**/.ipynb_checkpoints/*
**/.DS_Store

**/runs/
**/data/

# pix2pix ignore
pix2pix/data/ 
pix2pix/.DS_Store
pix2pix/*.npz
pix2pix/*.h5

ultralytics_demo/*.mp4
ultralytics_demo/custom_dataset/*

# Ignore raw videos
underwater_object/UOT100/*